@use 'variables';

.sidebar {
	background: variables.$color-fondo2;
	padding: 0 20px;

	&__logo {
		margin: 30px auto;
		width: 90%;
		max-width: 100px;
	}

	&__logo--active{
		display: none;
	}

	&__logo-imagen {
		width: 100%;
	}

	&__titulo {
		text-align: center;
		margin-bottom: 20px;
	}

	&__generos {
		margin-bottom: 40px;
	}

	&__contenedor-generos {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 10px;
	}

	&__años {
		margin-bottom: 40px;
	}

	&__contenedor-inputs {
		display: flex;
		gap: 10px;
		align-items: center;
	}

	&__input {
		width: 100%;
		text-align: center;
		padding: 10px 15px;
		color: #fff;
		font-family: variables.$fuente-primaria;
		border: none;
		background: variables.$color-btn;
		border-radius: 20px;
		font-weight: 600;
		font-size: 14px;
		display: flex;
		align-items: center;
		justify-content: center;
		outline: none;
		&--error {
			outline: 2px solid red;
		}
	}

	&__buscar {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	@media screen and (max-width: 650px){
		&__generos {
			margin-bottom: 20px;
		}
		&__contenedor-generos {
			display: flex;
			overflow-x: auto;
		}
		&__contenedor-generos::-webkit-scrollbar{
			width: 0;
		}
		&__logo{
			width: 15%;
		}
	}
}
@media screen and (max-height: 850px) and (min-width: 650px) {
	.sidebar__logo{
		margin: 10px auto;
		width: 20%;
	}
	.sidebar__generos {
		margin-bottom: 15px;
	}
	.sidebar__años {
		margin-bottom: 15px;
	}
}
