@font-face {
    font-family: 'Forta';
    src: url("../fonts/Forta.ttf") format('truetype');
}

:root{
    --primary: #F5EFD7;
    --secondary: #2563eb;
    --white: #fff;
    --text: #646464;
    --bg-img: #e4e4e4;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Forta', sans-serif;
    background-color: var(--primary);
}

/* Contenedor presentacion */
.contenedor-presentacion{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.contedor-texto{
    position: absolute;
}

.texto{
    color: var(--secondary);
    font-size: clamp(8rem, 15vw, 15rem);
    text-align: center;
}

.contenedor-img{
    position: absolute;
    display: flex;
    justify-content: center;
}

.img-zoro{
    width: clamp(8rem, 15vw, 15rem);
    background-color: var(--white);
    border-radius: 100%;
    object-fit: cover;
}

.contenedor-descripcion{
    width: 100%;
    position: absolute;
    top: 90%;
}

.separador{
    text-align: center;
    position: relative;
    font-size: clamp(2.5rem, 3.5vw, 3em);
    color: var(--secondary);
}

.descripcion{
    width: 120%;
    position: absolute;
    text-align: center;
    left: -10%;
    font-size: clamp(0.9rem, 1.5vw, 1.3rem);
    color: var(--text);
}

/* Sección proyectos */
.contenedor-proyectos, .contenedor-tecnologias{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding: 2rem;
}

.contenedor-primer-seccion{
    width: 80%;
    min-width: 1000px;
    max-width: 1300px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.contenedor-titulo-proyectos{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo{
    color: var(--secondary);
    font-size: clamp(3rem, 10vw, 5rem);
}

.contenedor-primario-proyectos{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

.proyecto-primera, .proyecto-segunda{
    width: 100%;
    height: 330px;
    display: flex;
    gap: 1rem;
}

.proyecto-1, .proyecto-2, .proyecto-3, .proyecto-4{
    width: 50%;
    height: 100%;
    padding: 0.4rem;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-img);
    border-radius: 0.5rem;
}

.contenedor-descripcion-proyecto{
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.nombre-proyecto{
    color: var(--secondary);
    font-size: 1rem;
}

.descripcion-proyecto,.tecnologias-nombre{
    font-family: sans-serif;
    font-size: 0.85rem;
    font-weight: 600;
}

.descripcion-proyecto{
    height: 60px;
    color: var(--text);
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tecnologias-nombre{
    color: var(--secondary);
}

.cards{
    min-height: 180px;
    width: 100%;
    object-fit: cover;
    border-radius: 0.3rem;
}

.contenedor-segunda-seccion{
    width: 35%;
}

.contenedor-secundario-proyectos{
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.img-logo{
    width: 100%;
    background-color: var(--white);
    border-radius: 100%;
    object-fit: cover;
    
}

.link-card{
    height: 55%;
    overflow: hidden;
}

.link-card img{
    transition: all 300ms ease;
}

.link-card img:hover{
    transform: scale(1.05);
}


.link-card{
    display: inline-block;
    line-height: 0; /* Elimina el espacio extra */
}

.contenedor-principal-tecnologias{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.contenedor-uso{
    width: 100%;
    max-width: 1100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    gap: 40px;
    padding: 20px;
    justify-items: center;
    place-items: center;
}

.icono{
    font-size: 40px;
    transition: all 0.2s ease-in-out;
}

.titulo-tecnologias{
    text-align: center;
    color: var(--secondary);
    font-size: clamp(3rem, 10vw, 5rem);
}

.contenedor-icono{
    width: 72px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border-radius: 0.5rem;
    transition: all 0.1s ease-in-out;
}

.contenedor-icono:hover > .icono{
    color: var(--secondary);
}

.contenedor-icono{
    opacity: 0;
}

.fi-brands-typescript {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* De arriba hacia abajo */
.animate-slideDown {
    opacity: 0;
    transform: translateY(-50px);
    animation: slideDown 1s forwards;
}

/* De abajo hacia arriba */
.animate-slideUp {
    opacity: 0;
    transform: translateY(50px);
    animation: slideUp 1s forwards;
}

/* Izquierda a derecha */
.animate-leftToRight {
    opacity: 0;
    transform: translateX(-50px);
    animation: leftToRight 1s forwards;
}

/* Derecha a izquierda */
.animate-rightToLeft {
    opacity: 0;
    transform: translateX(50px);
    animation: rightToLeft 1s forwards;
}

/* Abajo hacia arriba */
.animate-bottomToTop {
    opacity: 0;
    transform: translateY(50px);
    animation: bottomToTop 1s forwards;
}

/* Fade Up general */
.animate-fadeUp {
    opacity: 0;
    transform: translateY(30px);
    animation: fadeUp 1s forwards;
}

/* Clases de animación de salida */ 
.animate-slideDownOut {
    animation: slideDownOut 0.8s forwards;
}

.animate-slideUpOut {
    animation: slideUpOut 0.8s forwards;
}

.animate-fadeUpOut {
    animation: fadeUpOut 0.8s forwards;
}

.animate-slideDown,
.animate-slideUp,
.animate-leftToRight,
.animate-rightToLeft,
.animate-bottomToTop,
.animate-fadeUp {
  transition: all 0.6s ease;
  opacity: 1;
}

.texto,
.separador,
.descripcion,
.img-zoro,
.titulo,
.proyecto-1,
.proyecto-2,
.proyecto-3,
.proyecto-4,
.titulo-tecnologias,
.contenedor-icono {
  opacity: 0;
}

.separador,
.descripcion,
.img-zoro{
    display: none;
}

.class--active{
    display: block;
}

@media screen and (max-width: 1100px){
    .contenedor-proyectos{
        flex-direction: column;
    }
    .contenedor-primer-seccion{
        width: 100%;
        
    }
    .contenedor-segunda-seccion{
        width: 100%;
    }
    .contenedor-secundario-proyectos{
        flex-direction: row;
    }
    .contenedor-primer-seccion{
        min-width:fit-content;
    }
}

@media screen and (max-width: 877px){
    .tecnologias-nombre{
        height: 33px;
    }
}

@media screen and (max-width: 700px){
    .contenedor-proyectos, .contenedor-primer-seccion, .contenedor-primario-proyectos, .proyecto-primera, .proyecto-segunda{
        height: auto;
    }

    .proyecto-primera, .proyecto-segunda{
        flex-direction: column;
    }

    .proyecto-1, .proyecto-2, .proyecto-3, .proyecto-4{
        width: 100%;
    }
}

@keyframes slideDown {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes slideUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes leftToRight {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes rightToLeft {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes bottomToTop {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideDownOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-50px);
  }
}

@keyframes slideUpOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(50px);
  }
}

@keyframes fadeUpOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(50px);
  }
}